<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Tello App</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div id="menu">
            <div id="hide-menu">
                Hide Menu
            </div>
            <div class="menu-el">
                <p>Element 1</p>
            </div>
            <div class="menu-el">
                <p>Element 2</p>
            </div>
            <div class="menu-el">
                <p>Element 3</p>
            </div>
        </div>
        <div id="menu-bar">
            <p id="show-menu">Show Menu</p>
        </div>
        <script src="../static/script.js" type="module"></script>
        
        <!-- Wifi Section -->
        <div id="wifi-section">
            
        </div>
    </body>
</html>