@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 10vw;
}

#menu-bar {
    display: none;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding-top: 10vh;
    padding-left: 20vw;
    gap: 8vh;
}

@media only screen and (max-width: 600px) {
    #menu-bar {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 15vh;
        padding-right: 5vw;
        width: 100vw;
        background-color: beige;
    }

    #menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        
        transform: translateX(-100vw);
        transition: transform 0.75s ease-in-out;
        background-color: aqua;
    }

    #menu.show {
        transform: translateX(0);
    }

    .wifi-network {
        width: 100vw;
        height: 10vh;
        padding-inline: 15vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 4vw;
    }
  }

